header{
    background-image: url("../components/datathon-header.jpg");
    width: 100vw;
    background-position:center; 
    background-repeat:no-repeat; 
}

header h1{
    font-size: 4.5rem;
    font-weight: 400;
}

#trying{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

@media screen and (max-width: 767px) {
    header{
        height: 200px;
    }
    header h1{
        font-size: 3rem;
    }
    
}