footer{
    margin-top: auto !important;

}
.footer-container{
    padding-top: 30px;
    min-width: 100%;
    background-color: #FFECA4;
    font-size: .75em !important;
}

#footer-link{
    text-decoration: none;
    color: black;
}

#footer-icon{
    height: 35px;
    width: 35px;
}

.footer-socials, .footer-links{
    padding-bottom: 6px;
}

.footer-links{
    padding-left: 10px;
}

#footer-rights{
    font-size: 12px !important;
}